<div {{ attributes }} class="flex flex-col max-w-2xl mx-auto rounded-lg bg-white
                             shadow-md outline outline-black/5">
  <h1 class="text-xl m-4 mb-2 font-bold">{{ house.title|default('(Title missing)') }}</h1>
  <div class="tableSect bg-gray-100 flex flex-row justify-between mt-2 py-[2px]
              w-full border-t border-b border-gray-200">
    <div class="tableCol">
      <p title="Surface Area">{{ ux_icon('boxicons:area') }} {{ house.areaString }}</p>
      <p title="Monthly Rent">{{ ux_icon('tdesign:money') }} €{{ house.monthlyRent }}</p>
      <p title="City">{{ ux_icon('boxicons:location') }} {{ house.city }}</p>
    </div>
    <div class="tableCol">
      <p title="Energy Label">{{ ux_icon('material-symbols:label-outline') }}
        {{ house.energyLabel|default('(Energy label missing)') }}</p>
      <p title="Number of rooms">{{ ux_icon('material-symbols:meeting-room-outline') }} {{ house.roomCountString }}</p>
      {# Colors for status field #}
      {% if house.status.value == 'Rejected' %}
      {% set color = 'statusRejectedColor' %}
      {% elseif house.status.value == 'Approved' %}
      {% set color = 'statusApprovedColor' %}
      {% else %}
      {% set color = 'statusPendingColor' %}
      {% endif %}
      <p title="Status">{{ ux_icon('mdi:note-edit-outline') }}
        <span class="{{ color }} font-bold">{{ house.status.value }}</span>
      </p>
    </div>
  </div>
  <div class="gradeSect bg-gray-50 grid grid-cols-2 md:grid-cols-5 gap-4 px-4 py-2
              border-b border-gray-300">
    {% if house.titleGrade.value == 'Good' %}
    {% set color = 'gradeGoodColor' %}
    {% elseif house.titleGrade.value == 'Warning' %}
    {% set color = 'gradeWarnColor' %}
    {% else %}
    {% set color = 'gradeBadColor' %}
    {% endif %}
    <p>Title:<br><span class="{{ color }} gradeChip">{{ house.titleGrade.value }}</span></p>
    {% if house.rentGrade.value == 'Good' %}
    {% set color = 'gradeGoodColor' %}
    {% elseif house.rentGrade.value == 'Warning' %}
    {% set color = 'gradeWarnColor' %}
    {% else %}
    {% set color = 'gradeBadColor' %}
    {% endif %}
    <p>Rent:<br><span class="{{ color }} gradeChip">{{ house.rentGrade.value }}</span></p>
    {% if house.energyGrade.value == 'Good' %}
    {% set color = 'gradeGoodColor' %}
    {% elseif house.energyGrade.value == 'Warning' %}
    {% set color = 'gradeWarnColor' %}
    {% else %}
    {% set color = 'gradeBadColor' %}
    {% endif %}
    <p>Energy Label:<br><span class="{{ color }} gradeChip">{{ house.energyGrade.value }}</span></p>
    {% if house.overallGrade.value == 'Good' %}
    {% set color = 'gradeGoodColor' %}
    {% elseif house.overallGrade.value == 'Warning' %}
    {% set color = 'gradeWarnColor' %}
    {% else %}
    {% set color = 'gradeBadColor' %}
    {% endif %}
    <p class="md:col-span-2">Overall:<br><span class="{{ color }} gradeChip">{{ house.overallGrade.totalScoreLabel }}</span></p>
  </div>
  <div class="flex flex-row justify-end space-x-2 controlSect bg-gray-200 rounded-bl-lg rounded-br-lg px-4 py-2">
    {% if house.status.value == 'Pending' %}
    <button class="houseButton approveButton" {{ live_action('approveHouse') }}>{{ ux_icon('bi:check-lg') }}Approve</button>
    <button class="houseButton rejectButton" {{ live_action('rejectHouse') }}>{{ ux_icon('ix:cancel') }}Reject</button>
    {% elseif house.status.value == 'Approved' %}
    <button class="houseButton cancelButton" {{ live_action('resetHouseStatus') }}>{{ ux_icon('material-symbols:undo') }}Unapprove</button>
    {% elseif house.status.value == 'Rejected' %}
    <button class="houseButton cancelButton" {{ live_action('resetHouseStatus') }}>{{ ux_icon('material-symbols:undo') }}Unreject</button>
    {% endif %}
  </div>
</div>
