<div {{ attributes }} class="flex flex-col max-w-xl mx-auto rounded-lg bg-white p-4 shadow-md outline outline-black/5">
  <h1 class="text-xl font-bold">{{ house.title|default('(Title missing)') }}</h1>
  <p>Title Grade: {{ house.titleGrade.value }}</p>
  <p>Surface Area: {{ house.areaString }}</p>
  <p>Rent: {{ house.monthlyRent }} ({{ house.rentGrade.value }})</p>
  <p>City: {{ house.city }}</p>
  <p>Energy Label: {{ house.energyLabel|default('(Energy label missing)') }} ({{ house.energyGrade.value }})</p>
  <p>Room Count: {{ house.roomCountString }}</p>
  <p>Overall Grade: {{ house.overallGrade.totalScoreLabel }}</p>
  <p>Status: {{ house.status.value }}</p>
  <h2>Adjust Status</h2>
  {% if house.status.value == 'Pending' %}
  <button {{ live_action('approveHouse') }}>Approve</button>
  <button {{ live_action('rejectHouse') }}>Reject</button>
  {% elseif house.status.value == 'Approved' %}
  <button {{ live_action('resetHouseStatus') }}>Unapprove</button>
  {% elseif house.status.value == 'Rejected' %}
  <button {{ live_action('resetHouseStatus') }}>Unreject</button>
  {% endif %}
</div>
