<div {{ attributes }}>
  <div class="max-w-2xl mx-auto my-4 rounded-lg bg-white
              shadow-md outline outline-black/5 py-4 px-8">
    <div class="flex flex-row justify-evenly bg-gray-300 p-1 rounded-lg">
      <button class="filterButton{% if not this.statusQuery %} filterButtonActive{% endif %}"
              {{ live_action('queryAll') }}>All</button>
      <button class="filterButton{% if this.statusQuery and this.statusQuery.value == 'Pending' %} filterButtonActive{% endif %}"
              {{ live_action('queryPending') }}>Pending</button>
      <button class="filterButton{% if this.statusQuery and this.statusQuery.value == 'Approved' %} filterButtonActive{% endif %}"
              {{ live_action('queryApproved') }}>Approved</button>
      <button class="filterButton{% if this.statusQuery and this.statusQuery.value == 'Rejected' %} filterButtonActive{% endif %}"
              {{ live_action('queryRejected') }}>Rejected</button>
    </div>
    {# Make Twig only load the house data once #}
    {% set houses = this.houses %}
    <p class="mt-2">
      {% set count = houses|length %}
      {% if count == 1 %}
      There is 1 house available.
      {% else %}
      There are {{ count }} houses available.
      {% endif %}
    </p>
  </div>
  
  <div class="space-y-5 mx-5" data-loading="delay|addClass(opacity-50)">
    {% for house in houses %}
    <twig:HouseListing :house="house" />
    {% endfor %}
  </div>
</div>
